body {
	background-color: #71FF71
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: 	#001900;
}

img.medium {
    height: 30%;
    width: 30%;
}
