body {
	background-color: #000000;
}

h2 {
	font-family: Helvetica;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: 	#001900;
}

img.medium {
    height: 100%;
    width: 100%;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
